<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ibb.co/RNQmxNx/Untitled-design-1.png);">
  <div class="container">
    <h1>"Put all your movies/shows in a list </h1>
    <h1> and just come watch with me!"</h1>
    <p class="ms-5">- Movie-chan</p>
  </div>
</div>
<div class="container mx-auto mt-3">
  <div class="ms-0 row col-12 justify-content-center">
    <h1>Your Movie Lists: <% @lists.each do |list| %></h1>
      <div class="add-list-card tape col-6 p-0 m-3">
        <p class="text-center"><%= link_to list.name, list_path(list), class: "tape-font" %></p>
        <div class="img-holder">
          <%= cl_image_tag list.photo.key, crop: :thumb, gravity: :face%>
        </div>
      </div>
    <% end %>
    <div class="new-list-card tape col-6 p-0 m-3">
      <%= link_to " New List", new_list_path, class: "fa-solid fa-plus" %>
    </div>
  </div>
</div>
