<div class="container bookmark-form">
  <h1 class="mt-3">add a movie or a TV show</h1>
  <div class="form">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit "Add Movie", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
