.add-movie {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
  url(https://res.cloudinary.com/dckq0zged/image/upload/v1720547160/mg7o9csimgpffp3xaokp.png);
  width: 208px;
  height: 384px;
  object-fit: none;
  background-repeat: no-repeat;
  margin-top: 50px;
  border-radius: 5px;
}
