.bookmark-form {
  max-width: 600px;
  margin: 100px auto 300px;
  border: 1px solid rgba(85, 81, 81, 0.218);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 5px 6px rgba(173, 216, 230, 0.426);
}
