.delete-tab {
  color: rgba(255, 0, 0, 0.358);
  font-size: 24px;
  text-decoration: none;
  transition: transform .2s;

  &:hover {
    transform: scale(1.5);
    color: red;
  }
}

.card-overview {
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.card-img-top {
  height: 384px;
  width: 256px;
  object-fit: cover;
}
