.navbar-lewagon {
  justify-content: space-between;
  background: #f7efda;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  transition: transform .2s;

  &:hover {
    transform: scale(1.08);
  }
}
